@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Partials.Blocks.OurMissionViewModel>

<div class="story-box bg-yellow">
    <span class="m-text">@Model.Subtitle</span>
    <h2 class="xl-text">@Model.Title</h2>
    <div class="regular-text">
        @Html.Raw(Model.TopText)
    </div>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="story-galleries">
    <div class="swiper swiper-mission">
        <div class="swiper-wrapper">
            @if (Model.Gallery != null)
            {
                foreach (var image in Model.Gallery)
                {
                    <div class="swiper-slide">
                        <img src="@image.Url()" alt="">
                    </div>
                }
            }
        </div>
    </div>
</div>

<div class="story-box bg-orange">
    <div class="regular-text">
        @Html.Raw(Model.BottomText)
    </div>
</div>

<script>
    const swiperMission = new Swiper(".swiper-mission", {
        autoplay: {
            delay: 3000,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        slidesPerView: 1,
        on: {
            resize: function () {
                swiperMission.changeDirection(getDirection());
            },
        },
    });
</script>