@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Partials.Blocks.OurMissionViewModel>

<div class="story-box bg-yellow">
    @UIHelper.RenderText(Html, Model.Subtitle, "span", "m-text")
    @UIHelper.RenderText(Html, Model.Title, "h2", "xl-text")
    @UIHelper.RenderText(Html, Model.TopText.ToHtmlString(), "div", "regular-text")

</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="story-galleries">
    <div class="swiper swiper-mission">
        <div class="swiper-wrapper">
            @if (Model.Gallery != null)
            {
                foreach (var image in Model.Gallery)
                {
                    <div class="swiper-slide">
                        <img src="@image.Url()" alt="">
                    </div>
                }
            }
        </div>
    </div>
</div>

<div class="story-box bg-orange">
    @UIHelper.RenderText(Html, Model.BottomText.ToHtmlString(), "div", "regular-text")
</div>

<script>
    const swiperMission = new Swiper(".swiper-mission", {
        autoplay: {
            delay: 3000,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        slidesPerView: 1,
        on: {
            resize: function () {
                swiperMission.changeDirection(getDirection());
            },
        },
    });
</script>