@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Partials.Layout.FooterViewModel>
<footer class="footer">
    <div class="footer-left">
        <div class="footer-branding">
            @UIHelper.RenderImage(Model.FooterCompanyLogo, "footer-logo")
            <span>
                @UIHelper.RenderText(Html, Model.FooterCompanyName, "h3", "footer-branding-title uppercase m-text")
                @UIHelper.RenderText(Html, Model.FooterCompanyMoto, "div", "footer-branding-title-subtext uppercase")
            </span>
        </div>
        @UIHelper.RenderText(Html,Model.FooterCompanyDescription.ToHtmlString(),  "div", "footer-description")
        <a href="@(Model.FooterFindOutMoreButton.Url ?? string.Empty)">
            <div class="footer-cta-more-button uppercase small-text bold">
                @Umbraco.GetDictionaryValue("Footer.FindOutMore")
            </div>
        </a>
    </div>
    <div class="footer-right">
        <h3 class="footer-partners-title uppercase m-text">@Umbraco.GetDictionaryValue("OurPartners.Title")</h3>
        <div class="footer-partners-wrapper">
            @if(Model.FooterPartnerLogos != null && Model.FooterPartnerLogos.Any())
            {
               foreach (var element in Model.FooterPartnerLogos)
                {
                    <img class="footer-partner" src="@(element.Url()??string.Empty)" />
                }
            }
        </div>
        @if (Model.ShowNewsletterBox)
        {
            <div class="footer-newsletter">
                <h4 class="uppercase m-text">@Umbraco.GetDictionaryValue("Newsletter.Title")</h4>
                <div class="footer-form">
                    <input id="email" class="input small-text cl-white" placeholder = "@Umbraco.GetDictionaryValue("Footer.Newsletter.EmailPlaceholder")"/>
                    <button id="btnSubscribe" class="small-text uppercase">@Umbraco.GetDictionaryValue("Footer.Newsletter.SignMe")</button>
                </div>
            </div>
        }
    </div>
</footer>