@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Partials.Layout.HeaderViewModel>

<div class="navigation">
    <div class="hamburger">
        <p></p>
        <p></p>
        <p></p>
    </div>
    <nav>
        <a href="/">
            <img src=@(Model.Logo.Url ?? string.Empty) />
        </a>

        @if (@Model.MainNavigationLinks != null && @Model.MainNavigationLinks.Any())
        {
            foreach (var link in @Model.MainNavigationLinks)
            {
                <a href="@(link.Url ?? string.Empty)" class="regular-text cl-white">@(link.Content ?? string.Empty)</a>
            }
        }
        @if (@Model.MainNavigationButton != null)
        {
            <a href="@Model.MainNavigationButton.Url">
                <button class="bg-orange cl-white">@Model.MainNavigationButton.Content</button>
            </a>
        }
    </nav>
</div>