@inherits UmbracoViewPage<PageViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @{
        Html.RenderAction<LayoutController>(c => nameof(c.MetaTags), new { viewModel = Model.MetaTags });
        Html.RenderAction<LayoutController>(c => nameof(c.OpenGraph), new { viewModel = Model.OpenGraph });
    }
    @if (!string.IsNullOrWhiteSpace(Model.CookieScript))
    {
        @Html.Raw(Model.CookieScript)
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="@Url.Content("~/assets/scripts/projectsListing.js")"></script>
    <script src="@Url.Content("~/assets/scripts/default.js")"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
    @{
        Html.RenderPartial("~/Views/Partials/Shared/_TopBottomSocialLinks.cshtml", Model.TopBottomSocialLinks);
        Html.RenderAction<LayoutController>(c => nameof(c.Header), new { viewModel = Model.Header });
    }
    <div>
        @RenderBody()
    </div>
    @{
        Html.RenderAction<LayoutController>(c => nameof(c.Footer), new { viewModel = Model.Footer });
        Html.RenderPartial("~/Views/Partials/Shared/_TopBottomSocialLinks.cshtml", Model.TopBottomSocialLinks);
    }
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <script src="@Url.Content("~/assets/scripts/navigation.js")"></script>
    <script src="@Url.Content("~/assets/scripts/campaigns.js")"></script>
    <script src="@Url.Content("~/assets/scripts/news.js")"></script>

</body>
</html>

