@inherits UmbracoViewPage<ArticleViewModel>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&display=swap"
      rel="stylesheet" />

<div>@Model.Author</div>

<div class="tag-div">
    @if (@Model.Tags != null && @Model.Tags.Any())
    {
        foreach (var tag in @Model.Tags)
        {
            <div>@tag.Name</div>
            <div>@tag.Color</div>
        }
    }
</div>

<div class="article">
    <h1>@Model.Title</h1>
    @Html.Raw(Model.Text)

</div>
