@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContactViewModel>

    <header class="hero"
            style="
    background: linear-gradient(
        180deg,
        #000000 -33.39%,
        rgba(0, 0, 0, 0.4) 23.71%,
        rgba(0, 0, 0, 0.4) 61.3%,
        #000000 105.39%
      ),
      url('@(Model.DonateContent.BackgroundImage.Url ?? string.Empty)')
        no-repeat center / cover;
  ">
        @UIHelper.RenderText(Html,Model.DonateContent.Title, "h1", "")
        @UIHelper.RenderText(Html,Model.DonateContent.Description, "p","")


    @if (Model.SubmitStatus == SubmitStatusEnum.Success)
    {
        <h2>@Umbraco.GetDictionaryValue("Contact.Form.ThankYouMessage")</h2>
    }
    else if (Model.SubmitStatus == SubmitStatusEnum.Error)
    {
        <h2>@Umbraco.GetDictionaryValue("Contact.Form.ErrorMessage")</h2>
    }
    else
    {
        <form method="post" action="/contact" name="RenderMvcPost" id="RenderMvcPost">
            <input type="text" name="name" placeholder="Vaše Ime">
            <input type="text" name="email" placeholder="Vaš Email">
            <input type="text" name="contactReason" placeholder="Razlog kontaktiranja">
            <textarea name="text" id="" rows="5"></textarea>
            <button class="bg-yellow" type="submit">@Umbraco.GetDictionaryValue("Contact.Form.SendButton")</button>
        </form>
    }
    </header>