@inherits UmbracoViewPage<ProjectViewModel>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&display=swap"
      rel="stylesheet" />

<header class="hero hero--article"
        style="
        background: linear-gradient(
        180deg,
        #000000 -33.39%,
        rgba(0, 0, 0, 0.4) 23.71%,
        rgba(0, 0, 0, 0.4) 61.3%,
        #000000 105.39%
      ),
      url(@(Model.MainImage?.Url ?? string.Empty)) no-repeat center;">
    <div class="chips">
        @if (Model.Tags != null && Model.Tags.Any())
        {
            foreach (var tag in Model.Tags)
            {
                if (!tag.Color.IsNullOrWhiteSpace() && !tag.Name.IsNullOrWhiteSpace())
                {
                    <div class="chip" style="background-color: @tag.Color">@tag.Name</div>
                }
            }
        }
    </div>
</header>

<div class="article-section">
    <div class="article">
        @UIHelper.RenderText(Html, Model.Title, "h1", "")
        @UIHelper.RenderText(Html, Model.Text.ToHtmlString(),"p","")
    </div>

    <div class="article-sidebar">
        <div class="articles-list-item">
            <div class="article-body">
                <h4 class="m-text">@Umbraco.GetDictionaryValue("Project.Donate.Title")</h4>
                <p class="regular-text">
                    @{ var displayTextDonate = new HtmlString(Umbraco.GetDictionaryValue("Project.Donate.Text"));}
                    @displayTextDonate
                </p>
                <a href="@Umbraco.GetDictionaryValue("Project.Donate.Link")">
                    <button class="bg-orange cl-white">@Umbraco.GetDictionaryValue("Project.Donate.Button.Text")</button>
                </a>
            </div>
        </div>

        <div class="articles-list-item">
            <div class="article-body">
                <h4 class="m-text">@Umbraco.GetDictionaryValue("Project.Volunteer.Title")</h4>
                <p class="regular-text">
                    @{ var displayTextVolunteer = new HtmlString(Umbraco.GetDictionaryValue("Project.Volunteer.Text"));}
                    @displayTextVolunteer
                </p>
                <a href="@Umbraco.GetDictionaryValue("Project.Volunteer.Link")">
                    <button class="bg-orange cl-white">@Umbraco.GetDictionaryValue("Project.Volunteer.Button.Text")</button>
                </a>
            </div>
        </div>

        @if (Model.RelatedProjects != null && Model.RelatedProjects.Any())
        {
            foreach (var article in Model.RelatedProjects)
            {
                <div class="articles-list-item">
                    @if (article?.MainImage?.Url!=null)
                    {
                        <div class="article-image">
                            <img src=@(article?.MainImage?.Url ?? string.Empty) alt="" />
                        </div>
                    }
                <div class="article-body">
                    @UIHelper.RenderText(Html, article.Title, "h4", "m-text")
                    @UIHelper.RenderText(Html, article.TextPreview.ToHtmlString(), "p", "regular-text")
                    @if (!article.Link.IsNullOrWhiteSpace())
                    {
                        <a class="small-text uppercase" href="@article.Link">@Umbraco.GetDictionaryValue("Projects.ReadMoreCtaText")</a>
                    }
                </div>
                </div>
            }
        }
    </div>
 </div>
