@using ACTFoundation.Core.Controllers.Surface
@inherits UmbracoViewPage<ACTFoundation.Core.Models.LoadmorePagination<ACTFoundation.Core.ViewModels.Partials.Blocks.ProjectCardViewModel>>

@{ 
    var index = 0;
    var rows = Model.Items.GroupBy(s => index++ / 3).Select(g => g.ToArray()).ToArray();
}

<script>
    var pageNumber = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Page + 1));
    var projectId = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ParentId));
</script>

@if (Model.Items != null && Model.Items.Any())
{
    foreach (var rowItems in rows)
    {
        <div class="row">
        @foreach (var item in rowItems)
        {
            <div class="projects-list-item">
                <div class="project-image">
                    <img src="@item.Image.Url" alt="" />
                </div>
                <div class="project-body">
                    <h4 class="m-text">@item.Title</h4>
                    <p class="regular-text">
                        @item.Description
                    </p>
                    <a class="small-text uppercase" href="#">@Umbraco.GetDictionaryValue("Project.FindOutMore")</a>
                </div>
            </div>
        }
        </div>
    }
}

@if (Model.HasMore())
{
<button id="loadMore" onclick="loadMore(projectId, pageNumber)">@Umbraco.GetDictionaryValue("Projects.LoadMore")</button>
}
