@inherits UmbracoViewPage<ACTFoundation.Core.Models.LoadmorePagination<ACTFoundation.Core.ViewModels.Partials.Blocks.ProjectCardViewModel>>

@{
    var index = 0;
    var rows = Model.Items.GroupBy(s => index++ / 3).Select(g => g.ToArray()).ToArray();
}

<script>
    var pageNumber = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Page + 1));
    var projectId = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ParentId));
</script>

@if (Model.Items != null && Model.Items.Any())
{
    foreach (var rowItems in rows)
    {
    <div class="row">
        @if(rowItems.Any() && rowItems != null) {
        foreach (var item in rowItems)
        {
            <div class="articles-list-item">
                <div class="article-image" style="position: relative">
                    <img src="@(item.Image.Url ?? string.Empty)" alt="" />
                    <div class="chips chips-top">
                        @foreach (var tag in item.Tags)
                        {
                            if (tag != null)
                            {
                                <div class="chip chip--@tag.Color">@tag.Name</div>
                            }
                        }
                    </div>
                </div>
                <div class="article-body">
                    @UIHelper.RenderText(Html, item.Title, "h4", "m-text")
                    @UIHelper.RenderText(Html,item.Description, "p", "regular-text")

                    <a class="small-text uppercase" href="@(item.Url?? string.Empty)">@Umbraco.GetDictionaryValue("Projects.ReadMoreCtaText")</a>
                </div>
            </div>
        }}
    </div>
    }
}

@if (Model.HasMore())
{
    <button id="loadMore" class="small-text uppercase" onclick="loadMoreProjects(projectId, pageNumber)">
        @Umbraco.GetDictionaryValue("Projects.LoadMore")
    </button>
}
