@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Partials.Testimonials.TestimonialsViewModel>

<div class="testemonials">
    @UIHelper.RenderText(Html, Model.Title, "p", "testemonials-subtitle m-text")
    @UIHelper.RenderText(Html, Model.Subtitle, "p", "testemonials-title xl-text bold")
    @UIHelper.RenderText(Html, Model.Description.StripHtml() , "p", "testemonials-content m-text")

    <div class="testemonials-profiles">
        @if (Model.TestimonialItems != null && Model.TestimonialItems.Any()) {
            foreach (var item in Model.TestimonialItems)
            {
                <div class="testemonial-profile">
                    @UIHelper.RenderImage(item.Picture, "testemonials-profile-img")
                    @UIHelper.RenderText(Html, item.TestimonialText, "p", "testemonial-profile-description regular-text")
                    @UIHelper.RenderText(Html, item.FullName, "p", "testemonial-profile-name m-text")
                </div>
            }
        }
    </div>
</div>