@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Shared.VolunteersSharedViewModel>

<div class="volunteers-wrapper">
    <div class="volunteers-hero"
         style="
      background-image: url(@(Model.BackgroundImage));
    ">
        <h2 class="xl-text bold">@Model.Title</h2>
        <p class="m-text">
            @Model.Description
        </p>
        <a href="@Model.Link.Url" class="bg-blue">@Model.Link.Content</a>
    </div>
    <div class="volunteers swiper">
        <div class="swiper-wrapper">
            @foreach (var item in Model.Volunteers)
            {
                Html.RenderPartial("~/Views/Partials/NestedContent/_VolunteerItem.cshtml", item);
            }
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>