@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Partials.Items.VolunteerItemViewModel>

<div class="volunteer-card swiper-slide">
    <img class="volunteer-img"
         src="@Model.Picture.Url" />
    <p class="bold m-text">@Model.FullName</p>
    @Model.Occupation
    <p class="regular-text">
        @Model.Description
    </p>
    <a href="@Model.ContactLink.Url" class="bg-white cl-black border-black">@Model.ContactLink.Content</a>
</div>
